<section>    
    <div class="container">
        <form [formGroup]="form">
            <div class="d-flex flex-row justify-content-center">
                <input class="form-control" formControlName="search" type="text" placeholder="Digite seu CEP">
                <button (click)="search()" type="button" class="btn btn-primary"> <i class="bi bi-search"></i>Pesquisar</button> 
            </div>
        </form>            
        <h3>Vejam os imoveis que estam para locação</h3>
        <div class="row">
            <div class="col-md-3" *ngFor="let imovel of imoveis">
                <app-card [imovel]="imovel"></app-card>
            </div>
        </div>        
    </div>    
</section>
